.container-app-drawer {
  display: flex;
  margin-right: auto;
}

.bars {
  width: 40px;
  height: 40px;
}

p {
  text-decoration: none;
  color: black;
}

a {
  display: flex;
}

.navbar {
  flex-direction: row;
  align-items: start;
  width: 300px;
  border-right: 2px solid grey;
}

.closed {
  width: 100px;
}

h3 {
  margin: 35px 0;
}

.icons {
  width: 25px;
  height: 20px;
}
