* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watch-face {
  width: 100%;
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elapsed-time {
  font-size: xx-large;
  font-weight: bold;
}

.icon {
  margin-top: 10px;
  font-size: xx-large;
}
